body {
    font-family: 'Twoson';
    color: rgb(255, 255, 255);
    background-color: rgb(23, 23, 23);
    font-size: 25px;
    padding: 20px 60px;
}

button {
    font-family: 'Twoson';
    position: relative;
    z-index: 1;
    cursor: pointer;
}

input {
    font-family: 'Twoson';
}

a, a:visited {
    color: rgb(199, 147, 255);
}

#firstBuzz {
    min-height: 30px;
}

.firstBuzzHost {
    min-height: 30px;
    margin-top: 80px;
}

#enableSound {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
}

#enableSoundText {
    font-size: 4rem;
}

.chargeBlocks {
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

#objection {
    left: 50%;
    margin-left: -250px;
    min-height: 100px;
    width: 500px;
    position: relative;
}

#objection img{
    text-align: center;
    width: 200px;
}

#contestAnswer {
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-align: center;
    width: 200px;
}

#contestAnswer img {
    width: 100px;
    cursor: pointer;
}

#contestAnswer p {
    margin: 0px;
    font-size: 12px;
    border: dashed;
}

#interface {
    z-index: -1;
    text-align: center;
}

#userListPanel {
    position: absolute;
    left: 50%;
    width: 1200px;
    margin-left: -600px;
    top: 200px;
}

#PlayersList {
    position: absolute;
    left: 60px;
    border: dashed;
    width: 400px;
    min-height: 170px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#ChasersList {
    position: absolute;
    left: 724px;
    border: dashed;
    width: 400px;
    min-height: 170px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#userListPanelHome {
    position: absolute;
    left: 50%;
    width: 1200px;
    margin-left: -600px;
    top: 200px;
}

#PlayersListHome {
    position: absolute;
    text-align: left;
    left: -20px;
    color: rgba(255, 255, 255, 0.644);
    border: 3px dashed rgba(255, 255, 255, 0.425);
    width: 400px;
    min-height: 170px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#ChasersListHome {
    position: absolute;
    text-align: left;
    left: 804px;
    color: rgba(255, 255, 255, 0.644);
    border: 3px dashed rgba(255, 255, 255, 0.425);
    width: 400px;
    min-height: 170px;
    padding-left: 5px;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

#buzzer {
    width: 200px;
    position: relative;
    z-index: 1000;
}

#idkButton {
    cursor: pointer;
}

#instructions {
    font-size: 14px;
}

#buzzerOptions img {
    width: 50px;
    cursor: pointer;
}

#buzzerOptionsNext {
    font-size: 75px;
    cursor: pointer;
}

#buzzerOptionsPrev{
    font-size: 75px;
    cursor: pointer;
}

#buzzerOptions small {
    position: absolute;
    bottom: 3px;
    left: 3px;
    text-shadow: 1px -1px 2px #000000;
    font-size: 15px;
}

.buzzerGroup {
    display: inline-block;
    position: relative;
}

.buzzerGroupItems {
    bottom: 50px;
    position: absolute;
    width: max-content;
}

#buzzerOptions {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#message {
    position: absolute;
    font-size: 15px;
    top: 0px;
    left: 20px;
}

#egg {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 14px;
    cursor: pointer;
}

.userListBuzzerSelections {
    width: 30px;
    position: relative;
    top: 5px;
    padding-right: 10px;
}

.userListBuzzerSelectionsHome {
    width: 30px;
    position: relative;
    top: 5px;
    padding-right: 10px;
    opacity: 50%;
}

@media (max-width: 600px) {
    #objection {
        margin-left: 0px;
        left: -65px;
        bottom: 150px;
        font-size: 15px;
        text-align: left;
        min-height: 0px;
        height: 0px;
    }

    #objection img{
        width: 150px;
    }
    #userListPanel {
        top: 80px;
        width: 500px;
        margin-left: -250px;
        font-size: 11px;
    }
    #PlayersList {
        left: 0px;
        width: 120px;
    }
    #ChasersList {
        left: 370px;
        width: 120px;
    }

    #PlayersListHome {
        left: 0px;
        width: 120px;
    }
    #ChasersListHome {
        left: 370px;
        width: 120px;
    }

    #firstBuzzHost {
        margin-top: 20px;
    }
}

@font-face {
    font-family: 'Twoson';
    src: url('Twoson.eot');
    src: url('Twoson.eot?#iefix') format('embedded-opentype'),
        url('Twoson.woff2') format('woff2'),
        url('Twoson.woff') format('woff'),
        url('Twoson.ttf') format('truetype');
    font-weight: normal;
    /* font-style: italic; */
    font-display: swap;
}